/*This file contains all application-wide CSS variables.*/

$font-roboto: 'Roboto', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;

$white: #fff;

$header-line-color: $white;
$header-line-font-size: 45px;

/*** Middle Sheet */
$middle-sheet-bg: #00BCD4;

/*** Bottom Sheet */
$bottom-sheet-bg: #0097A7;
