/*This file contains all application-wide CSS variables.*/

$font-roboto: 'Roboto', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;

$white: #fff;
$black: #000;
$gray: #666;
$link-color: #00BCD4;
$dialog-top-bar-color: #00BCD4;
$dialog-header-color: #00BCD4;

$header-line-color: $white;
$header-line-font-size: 45px;

/*** Middle Sheet */
$middle-sheet-bg: #00BCD4;

/*** Bottom Sheet */
$bottom-sheet-bg: #0097A7;

/*** Dialogs **/
/* Checkout */
$checkout-total-price-color: #24BCD3;


/*** Progress Circle */
$progress-circle-width: 110px;
$progress-circle-middle: 55px;
$progress-circle-center: 95px;
$progress-circle-border: 50%;
$progress-circle-chart-bg: #00828E;
$progress-circle-label: #4CCFE0;
