.wrapper {
	background-color: #FEFEFE;
	color: #222222;
	max-width: 100%;
	margin: 0 auto;
}

.logo {
	max-height: 5em;
	margin: 0 auto;
	display: block;
}
#main_nav{
  position: absolute;
}

#top_sheet{
  padding: 50px;
  margin: 0;
}
#middle_sheet{
	background-image: url('/img/backgrounds/background-middle-screen.svg');
	background-repeat: repeat;
	background-size: cover;
	background-color: $middle-sheet-bg;
  padding: 10px;
  margin: 0;
	h2 {
		text-align: center;
		color: $header-line-color;
		font-family: $font-roboto;
		font-weight: 400;
		font-size: $header-line-font-size;
    margin: 0;
		padding: 22px 0;
	}
	ul{
    width: 350px;
		margin: 0 auto;
		padding: 0;
		li{
			font-family: $font-roboto;
			font-weight: 400;
			font-size: 22px;
			list-style: none;
      line-height: 40px;
			letter-spacing: 0.22px;
			color: $white;
			padding: 0 0 0 50px;
			margin: 0;
		}
	}
	p{
		font-family: $font-roboto;
		font-weight: 200;
		font-size: 16px;
		color: $white;
		text-align: center;
	}
  #get_pro{
    margin: 20px auto;
    text-align: center;
		span{
			margin: 10px;
		}
  }
	#invite_pro{
    margin: 20px auto 60px auto;
    text-align: center;
		span{
			margin: 10px;
		}
  }
	#referral_code{
		margin: 0 auto;
		padding: 10px 0 30px 0;
		text-align: center;
		text-transform: uppercase;
		p{
			font-size: 14px;
			margin: 0; padding: 0;
		}
		span{
			margin: 0; padding: 0;
			font-size: 20px;
		}
	}
}

#bottom_sheet{
	overflow: auto;
  background-color: $bottom-sheet-bg;
  padding: 10px;
  margin: 0;
  h3{
    font-family: $font-roboto;
    font-weight: 400;
    font-size: 34px;
    letter-spacing: 0.34px;
    color: $white;
    margin: 0;
    padding: 24px 0 0 0;
    text-align: center;
  }
  p{
    font-family: $font-roboto;
    color: $white;
    font-weight: 400;
    text-align: center;
    font-size : 14px;
    line-height : 20px;
    opacity : 0.87;
    margin: 0;
    padding: 10px 0 0 0;
  }
  #get_code{
    margin: 10px 0 20px 0;
    text-align: center;
  }
	.timeleft--copy{
		clear: both;
		p{
			padding: 10px 0 20px 0;
			margin: 0 auto;
		}
	}
	#countdown{
		margin: 0 auto 20px auto;
		width: 540px;
		overflow: auto;
		text-align: center;
	}
}
