#settings_header{
  width: 100%;
  height: 200px;
  overflow: auto;
  background-color: $dialog-header-color;
  display: block;
}

#settings_body{
  width: 60%;
  margin: 0 auto;
  padding: 20px 0s;
  .settings_option{
    margin: 10px auto;
  }
}
